includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 4

    excludePaths:
        - vendor

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Pagination\\AbstractPaginator::#'
        - '#Instanceof between mixed and Illuminate\\Http\\Resources\\Json\\ResourceCollection#'
        - '#Argument of an invalid type Illuminate\\Routing\\RouteCollectionInterface#'
        - '#Using nullsafe property access on left side of#'
        - '#Offset .* on .* on left side of \?\? always exists#'
        - '#Trait Stackmasteraliza\\ApiResponse\\Traits\\HasApiResponse is used zero times#'
